@import '_variables.scss';

.word {
  padding: 0 0.5em;
  vertical-align: middle;
  display: inline-block;

  // &__inner {
  //   display: block;
  //   color: red;
  // }

  &--ecological {
    border-radius: 1em;
    background-color: $green;
  }

  &--social {
    background-color: $red;
  }

  &--projection {
    background-color: $brown;
  }

  &--mathematical {
    background-color: $blue;
  }

  &--pol-eco {
    background-color: $yellow;
  }
}