@import '_variables.scss';

.word {
  $w: &;
  vertical-align: baseline;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__inner {
    display: block;
  }

  &--active {
    padding: 0 0.5em;
  }

  &--ecological {
    &#{$w}--active {
      border-radius: 1em;
      background-color: $green;
    }
  }

  &--social {
    &#{$w}--active {
      background-color: $red;
    }
  }

  &--projection {
    &#{$w}--active {
      background-color: $brown;
    }
  }

  &--mathematical {
    &#{$w}--active {
      background-color: $blue;
    }
  }

  &--pol-eco {
    &#{$w}--active {
      background-color: $yellow;
    }
  }
}